
solutions/solutions/solutions.csproj
solutions/solutions/obj/solutions.csproj.nuget.g.targets
solutions/solutions/obj/solutions.csproj.nuget.g.props
solutions/solutions/obj/solutions.csproj.nuget.dgspec.json
solutions/solutions/obj/rider.project.restore.info
solutions/solutions/obj/project.packagespec.json
solutions/solutions/obj/project.nuget.cache
solutions/solutions/obj/project.assets.json
solutions/solutions/obj/Debug/net5.0/solutions.pdb
solutions/solutions/obj/Debug/net5.0/solutions.genruntimeconfig.cache
solutions/solutions/obj/Debug/net5.0/solutions.GeneratedMSBuildEditorConfig.editorconfig
solutions/solutions/obj/Debug/net5.0/solutions.dll
solutions/solutions/obj/Debug/net5.0/solutions.csprojAssemblyReference.cache
solutions/solutions/obj/Debug/net5.0/solutions.csproj.FileListAbsolute.txt
solutions/solutions/obj/Debug/net5.0/solutions.csproj.CoreCompileInputs.cache
solutions/solutions/obj/Debug/net5.0/solutions.assets.cache
solutions/solutions/obj/Debug/net5.0/solutions.AssemblyInfoInputs.cache
solutions/solutions/obj/Debug/net5.0/solutions.AssemblyInfo.cs
solutions/solutions/obj/Debug/net5.0/ref/solutions.dll
solutions/solutions/obj/Debug/net5.0/apphost.exe
solutions/solutions/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
solutions/solutions/bin/Debug/net5.0/solutions.runtimeconfig.json
solutions/solutions/bin/Debug/net5.0/solutions.runtimeconfig.dev.json
solutions/solutions/bin/Debug/net5.0/solutions.pdb
solutions/solutions/bin/Debug/net5.0/solutions.exe
solutions/solutions/bin/Debug/net5.0/solutions.dll
solutions/solutions/bin/Debug/net5.0/solutions.deps.json
solutions/solutions/bin/Debug/net5.0/ref/solutions.dll
solutions/solutions.sln
solutions/.idea/.idea.solutions/.idea/vcs.xml
solutions/.idea/.idea.solutions/.idea/riderModule.iml
solutions/.idea/.idea.solutions/.idea/indexLayout.xml
solutions/.idea/.idea.solutions/.idea/encodings.xml
